<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>

<div id="selectImage">Select Image</div>
<div id="fileSubmit">Submit</div>

<div id="droparea">
	<p>droparea</p>
	<div id="previewsContainer">
		<p>previewsContainer</p>
	</div>
</div>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="static/js/dropzone.js"></script>
<script type="text/javascript" src="static/js/app.js"></script>
</body>
</html>
